@font-face {
  font-family: nyt-franklin;
  src: url("/Primeiro Semestre/Desenvolvimento de Interfaces para a Web/Aula 2/fonts/franklin-normal-500.0f4aea3d462cdb64748629efcbbf36bc.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: nyt-franklin;
  src: url("/Primeiro Semestre/Desenvolvimento de Interfaces para a Web/Aula 2/fonts/franklin-normal-300.a6479a5200f9a6352bdb71589c27c9c3.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: nyt-franklin;
  src: url("/Primeiro Semestre/Desenvolvimento de Interfaces para a Web/Aula 2/fonts/franklin-normal-700.91eaf6b5642463af4091160b4bbfdfcb.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: nyt-cheltenham;
  src: url("/Primeiro Semestre/Desenvolvimento de Interfaces para a Web/Aula 2/fonts/cheltenham-normal-700.530cfb72378419eedb60da7e266ad5f1.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: nyt-imperial;
  src: url("/Primeiro Semestre/Desenvolvimento de Interfaces para a Web/Aula 2/fonts/imperial-normal-400.6131cd77b6e216c7693ed925f4309ffc.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: nyt-karnak;
  src: url("/Primeiro Semestre/Desenvolvimento de Interfaces para a Web/Aula 2/fonts/karnak-normal-900.7552fe3fdd9952aeda91e6c5a2adc59f.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}

#headerDiv {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 1px 0;
}

#menu {
  height: 20px;
}

#user {
  width: 24px;
}

#logo {
  width: 225px;
}

#subscribe {
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
  border-top: 1px solid #0000001a;
  border-bottom: 1px solid #0000001a;
  padding: 7px 20px;
}

#subscribe > a {
  font-family: nyt-franklin, Helvetica, Arial, sans-serif;
  color: #326891;
}

section {
  padding: 50px 25px 0 25px;
}

section > h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: nyt-karnak, Georgia, "Times New Roman", Times, serif;
}

#todayPaper {
  display: flex;
  align-items: center;
}

#todayPaper > p {
  font-family: nyt-franklin, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-right: 7px;
}

input {
  width: 140px;
  font-size: 14px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  border: 1px solid #0000001a;
  padding: 5px;
  border-radius: 2px;
}

nav > ul {
  display: flex;
  margin: 30px 25px 0;
  padding: 10px 0;
  border-top: 1px solid #0000001a;
  border-bottom: 2px solid black;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  font-family: nyt-franklin, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  color: black;
  border-left: 1px solid #0000001a;
  padding: 0 12px;
}

#noborderLeft {
  border-left: none;
  padding-left: 0;
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

#newsContainer {
  padding-top: 0;
}

#newsContainer > h2 {
  font-family: nyt-franklin, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: 24px 0 18px;
}

#news {
  display: flex;
  flex-direction: row;
}

#news1 {
  width: 60%;
  padding-right: 30px;
  border-right: 1px solid #0000001a;
}

#news1 > img {
  width: 100%;
}

#news2 {
  width: 40%;
  padding-left: 30px;
}

#news2 > img {
  width: 100%;
}

#newsContainer > div > div > h3 {
  padding: 20px 0 10px 0;
}

#newsContainer > div > div > h3 > a {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 1.45rem;
  color: black;
}

#newsContainer > div > div > h3 > a:hover {
  text-decoration: underline;
}

#subtitle {
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 0.95rem;
}

.author {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.7rem;
  margin-top: 4px;
  color: #00000080;
}
